{% extends 'base.html' %} 

{% block title %}    
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">
  <title> Записи сообщества {{ group.title }}</title>
{% endblock %}
{% load thumbnail %}
{% block content %}
  <h1>{{ group.title }}</h1>
  <p>
    {{ group.description }}
  </p>
    {% for post in page_obj %}
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
        </li>
          Сообщество: {{ group.title }}
        </li>
      </ul>
      {% thumbnail post.image "1000x460" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}      
      <p>
        {{ post.text|linebreaksbr }}
      </p>
    {% if post.group %}
      <a href={% url 'posts:group_posts' slug=post.group.slug %}>все записи группы</a>
    {% endif %}
    {% if not forloop.last %} <hr> {% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
{% endblock %}
